[project]
	description = A tool for real-time, two-way sync for remote (e.g. desktop/laptop) development
[access]
	inheritFrom = All-Projects
[access "refs/*"]
	owner = group user/Stephen Haberman (stephenh)
[access "refs/for/refs/*"]
	read = group user/Stephen Haberman (stephenh)
	push = group user/Stephen Haberman (stephenh)
	label-Code-Review = -2..+2 group user/Stephen Haberman (stephenh)
	label-Verified = -1..+1 group user/Stephen Haberman (stephenh)
	rebase = group user/Stephen Haberman (stephenh)
	removeReviewer = group user/Stephen Haberman (stephenh)
	submit = group user/Stephen Haberman (stephenh)
[access "refs/heads/*"]
	read = group user/Stephen Haberman (stephenh)
	create = group user/Stephen Haberman (stephenh)
	push = +force group user/Stephen Haberman (stephenh)
	pushMerge = group user/Stephen Haberman (stephenh)
[access "refs/tags/*"]
	push = group user/Stephen Haberman (stephenh)
	push = +force group user/Stephen Haberman (stephenh)
